#home{
 background: url(../img/bg_big.jpg) no-repeat;
   background-position: 50%;
    width: 100%;
    background-position: center center;
    background-size: cover;
    .header-container{
        position: relative;
    }

    nav{
        background: transparent !important;
        width: 100%; 
        z-index: 100;
        .nav-item{
            @extend %font;
            text-transform: uppercase;
        }

        .navbar-brand{
            @extend %font;
            font-size: 2vmax;
            font-style: italic;
            text-transform: uppercase;
            font-weight: 800;
        }      
    }

    .navbar-collapse{
        justify-content: flex-end;
    }

    .row:last-child{
        height: 100%;
    }

    .col{
        text-align: center;
    }

    .titles{
        @extend %font;
        text-align: center;
        text-transform: uppercase;
        left: 8%;
        top: 30%;
        position: absolute;
    }

    h1{ 
        font-size: 6vmax;
    }

    h2{
        font-size: 2vmax;
    }
}

@media screen and (max-width: 576px){
    #home{
        background: url(../img/bg_small.jpg) no-repeat;
        
    }
    .header-container{
        min-height: 326px;
    }
}

@media screen and (min-width: 576px){
    #home{
        background: url(../img/bg_768.jpg) no-repeat;
        
    }
    .header-container{
        min-height: 438px;
    }
}

@media screen and (min-width: 768px){
    #home{
        background: url(../img/bg_992.jpg) no-repeat;
        min-height: 566px;
    }
    .header-container{
        min-height: 438px;
    }
}

@media screen and (min-width: 992px){
    #home{
        background: url(../img/bg_1200.jpg) no-repeat;
        min-height: 685px;
    }
    .header-container{
        min-height: 438px;
    }
}

@media screen and (min-width: 1200px){
    #home{
        background: url(../img/bg_1500.jpg) no-repeat;
    }
    .header-container{
        min-height: 771px;
    }
}

@media screen and (min-width: 1500px){
    #home{
        background: url(../img/bg_big.jpg) no-repeat;
    }
    .header-container{
        min-height: 1097px;
    }
}

@media screen and (max-width: 992px){
    .navbar-nav{
        background: #ffffff ;
        z-index: 900;
        .nav-item{
            padding: 15px;
            text-align: center;
            border-bottom: 1px #7fbb00 solid;
            &:last-child{
                border: none;
            }
            &:hover{
                background: #7fbb00;
                
            }
        }
    }
}

